header{
    margin:30px 30px 30px 30px
    height: 250px;
    
    background-color:darkgoldenrod;
}
body{
    background-color:blue;
}

section{
    color: red;
    text-align:center;
    background-color:black;
    height: 150px;
    width: 420px;
    float:right
}
img{
    background-color:red;
    border-radius:40px;
    border:solid 1em white;
    border-bottom-color: brown;
    border-top-color:brown;

}


