header{
    margin:30px 30px 30px 30px
    height: 250px;
    
    background-color:darkgoldenrod;
}
body{
    background-color:blue;
}
img{
    background-color:red;
    border-radius:40px;
    border:solid 1em white;
    border-bottom-color: brown;
    border-top-color:brown;
}


